<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
  <h1>Posts</h1>
  <div th:if="${posts != null}">
    <ul>
      <li th:each="post: ${posts}">
        <h2 th:text="${post.title}">Post Title</h2>
        <p th:text="${post.content}">Post Content</p>
      </li>
    </ul>
  </div>
</div>
<div th:if="${posts == null}">
  <p>No posts currently available...</p>
</div>
</body>
</html>